<h1>Welcome to Build a Body</h1>
<hr>
<h4>Quick Links</h4>
<%= link_to "See all exercises", exercises_path, class: "btn btn-primary btn-lg" %>
<%= link_to "Begin a routine", exercises_path, class: "btn btn-warning btn-lg" %>

