<p><%= link_to 'Back to all exercises', exercises_path, class: "btn btn-secondary"  %></p> 

<h1>Editing <%= @exercise.name %></h1>

<%= render 'form', exercise: @exercise %>
<%= link_to 'See Workouts', @exercise, class: "btn btn-warning" %>
